.btn-round {
  @include transition-duration($transition-duration);
  @include transition-property(background, color);
  @include transition-timing-function(linear);
  background: $gray-lighter;
  border-radius: 50%;
  color: #bdc3c7;
  display: inline-block;
  line-height: 1.0;
  padding: 1em;

  &:hover {
    background: darken($gray-lighter, 10);
  }
}
